/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--main-background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
  font-size: var(--main-font-size);
  color: var(--text-color);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  right: 0;
  top: 10px;
  right: 10px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  bottom: 0;
  bottom: 10px;
  left: 10px;
}

.decoration {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  line-height: 25px;
  position: absolute;
  margin-inline-end: 5px;
  right: 1.7em;
  top: 0.7em;
  color: #FF0070;
}

.decoration::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  background-color: #FF0070;
  box-shadow: 0px 0px 4px 2px #FF0070;
  border-radius: 30%;
  position: inherit;
  top: 7px;
  right: -17px;
}

.header__theme-menu {
  display: grid;
  justify-self: end;
  align-self: center;
  padding-inline: 10px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  all: unset;
  padding-inline: 12px;
  padding-block: 3px;
  font-family: var(--main-font, sans-serif);
  text-transform: lowercase;
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  line-height: 18px;
  color: var(--accent-text-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--accent-border-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--border-color);
}

.title {
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--accent-color);
  text-shadow: 4px 4px 0 var(--accent-bg-color);
  padding-inline: 10px;
}

.title-decor {
  font-family: var(--main-font, sans-serif);
  font-style: normal;
  font-weight: 700;
  font-size: inherit;
  line-height: 23.4px;
  color: #000028;
  background-color: var(--accent-bg-color);
}

.title-decor_no-weight {
  font-weight: 400;
}

.header__description {
  padding-inline: 10px;
  padding-block: 55px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content:not(.content__concentration, .content__image) {
  padding-inline: 10px;
  padding-block: 25px;
}

.content__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: inherit;
  line-height: 23.4px;
  color: var(--accent-text-color);
}

.content__concentration {
  padding-inline: 10px;
  padding-block-start: 40px;
  padding-block-end: 25px;
}

.content__menu-list {
  display: grid;
  gap: 20px;
}

.content-menu-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__menu-list-description {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  line-height: 23.4px;
  color: var(--text-color);
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-bg-color);
}

.content__link:hover {
  border-bottom: 1px solid var(--text-color);
  cursor: pointer;
}

.content__link:focus {
  outline: 1px solid var(--text-color);
}

.content__image {
  display: flex;
  gap: 10px;
  padding-block-start: 22px;
  padding-block-end: 41px;
  padding-inline: 10px;
}

.content__image-list {
  display: grid;
  gap: 10px;
}

.content__image-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  max-inline-size: 100%;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  position: relative;
}

.footer__title {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--accent-bg-color);
}

@media (min-width: 768px) {
  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);;
    padding-inline: 0;
  }

  .header {
    min-block-size: 1024px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .decoration {
    right: 2.3em;
    top: 1.3em;
  }

  .header__theme-menu {
    padding-inline-end: 20px;
    padding-block-start: 20px;
  }

  .header__description {
    width: 50%;
    justify-self: end;
    align-self: center;
    padding-inline-start: 0;
    padding-inline-end: 20px;
    padding-block-start: 40px;
  }

  .content:not(.content__concentration, .content__image) {
    padding-inline: 20px;
    padding-block-start: 40px;
    padding-block-end: 40px;
  }

  .content__concentration {
    display: grid;
    grid-template-columns: 236px 1fr;
    padding-inline: 20px;
    padding-block-start: 60px;
    padding-block-end: 40px;
  }

  .content__attention .content__title {
    max-inline-size: 236px;
  }

  .content__advice {
    display: grid;
    grid-template-columns: 236px 1fr;
  }

  .content__image {
    padding-block-start: 40px;
    padding-block-end: 60px;
    padding-inline: 20px;
    gap: 20px;
  }

  .content__image-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .content__image-item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .content__image-item:nth-child(2) {
    grid-column: 3 / -1;
    grid-row: 1 / 3;
  }

  .content__image-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
  }

  .content__image-item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .content__image-item:nth-child(5) {
    grid-column: 2 / -1;
    grid-row: 3 / -1;
  }
}

@media (min-width: 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    padding-inline-end: 10px;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .content__concentration {
    grid-template-columns: 315px 1fr;
  }

  .content__attention .content__title {
    max-inline-size: 315px;
  }

  .content__attention .content__menu-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .content__advice {
    grid-template-columns: 315px 1fr;
  }
}